<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    

<div class="container">
        <h1>To-Do List</h1> 
    
        <!-- Form to add tasks -->
         <form action="/todo" method="POST">
            <input type="text" name="task" placeholder="Enter a new task" required>
            <button type="submit">Add Task</button>
        </form> 
    
        <!-- Task list -->
         <ul>
            {% for task in tasks %}
            <li>{{ task.description }} <a href="/delete/{{ task.id}}">Delete</a></li>
            {% else %}
            <li>No tasks added yet!</li>
            {% endfor %}
        </ul>
    </div> 

   

</body>
</html>